<form #f="ngForm" (ngSubmit)="save()" nz-form>
  <nz-form-item class="mb-sm">
    <nz-form-label nzSpan="4">原始密码</nz-form-label>
    <nz-form-control nzSpan="18">
      <input nz-input type="password" [(ngModel)]="password" name="password" minlength="6" maxlength="12" required/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="mb-sm">
    <nz-form-label nzSpan="4">新密码</nz-form-label>
    <nz-form-control nzSpan="18">
      <input nz-input type="password" [(ngModel)]="newPassword" name="newPassword" minlength="6" maxlength="12" required/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="mb-sm">
    <nz-form-label nzSpan="4">确认新密码</nz-form-label>
    <nz-form-control nzSpan="18">
      <input nz-input type="password" [(ngModel)]="newAgainPassword" name="newAgainPassword" minlength="6" maxlength="12" required/>
    </nz-form-control>
  </nz-form-item>
  <div class="modal-footer">
    <button nz-button [disabled]="!f.form.valid || !f.form.dirty" [nzLoading]="http.loading" [nzType]="'primary'">保存</button>
  </div>
</form>
