<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg">
        <span class="title">柒拾佳护</span>
      </div>
      <div class="desc">用科技守护生命、用数据作为先导、用网络连接健康、用爱心回报社会</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="''">
      Copyright
      <i class="anticon anticon-copyright"></i> 2017
      <a href="//www.70jiahu.com" target="_blank">柒拾佳护健康管理有限公司</a>出品
    </global-footer>
  </div>
</div>
